#div_row {
  width: 66%;
  float: right;
}

#div_venn img {
  width: 50%;
  margin: auto;
}

#just_protos_prompt_div {
  width: 33%;
  float: left;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 33%;
  float: left;
  width: 25%;
  margin-bottom: 8px;
  padding: 0 8px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 90%;
  height:auto;
}

.column h5 {
  margin-block-start: 0.5em;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 650px) {
  .column {
	width: 100%;
	display: block;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 90%;
}

.container {
  padding: 0 16px;
}

.container h5 {
  margin: 0;
  color: red;
}

#div_title {
  margin-bottom: 50px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.button:hover {
  background-color: red;
}

/* For zoom-in */
.img-zoom-container {
  position: relative;
}

.img-zoom-lens {
  position: absolute;
  border: 1px solid #d4d4d4;
  width: 120px;
  height: 120px;
  /*top: 20%;
  left: 40%;*/
}
@media screen and (max-width: 1650px) {
  .img-zoom-lens {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 650px) {
  .img-zoom-lens {
    width: 40px;
    height: 40px;
  }
}

.img-zoom-result {
  border: 1px solid #d4d4d4;
  aspect-ratio : 1 / 1;
}